<ion-content [fullscreen]="true" class="xcontent">
    <div id="container">
        <ion-card>
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-text color="dark">
                                <h3>Doğrulama</h3>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p>
                                Doğrulama kodu gelmesi için lütfen telefon numarasını giriniz.
                            </p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="stacked">Ülke</ion-label>
                                <ion-input value="Türkiye"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Kod</ion-label>
                                <ion-input value="+90"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="9">
                            <ion-item>
                                <ion-label position="floating">Telefon Numarası</ion-label>
                                <ion-input type="number" clearInput></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>